In [13]:
import pandas as pd
import duckdb

## data

In [18]:
dpt_to_region_mapping = {
    "59":"HDF",
    "62":"HDF",
    "75":"IDF",
    "95":"IDF",
    "83":"PACA",
    "84":"PACA",
}

dpts_dfs = []
for year in range(2016,2022):
    # https://www.insee.fr/fr/statistiques/1893198
    df = pd.read_excel("data/estim-pop-dep-sexe-gca-1975-2023.xls", str(year), skiprows=3)
    subset = df[df["Départements"].isin(["59", "62", "75", "95", "83", "84"])][["Départements", "Unnamed: 7"]]
    subset["year"] = year
    dpts_dfs.append(subset)

dpts_dfs = pd.concat(dpts_dfs)
dpts_dfs.columns = ["departement", "population", "year"]
dpts_dfs["region"] = dpts_dfs["departement"].apply(lambda x: dpt_to_region_mapping.get(x))
dpts_dfs = dpts_dfs[["region", "departement", "year", "population"]]
dpts_dfs.head()

   region departement  year population
60    HDF          59  2016    2603723
63    HDF          62  2016    1470725
76    IDF          75  2016    2190327
84   PACA          83  2016    1055821
85   PACA          84  2016     559014

## Exercice

Exercice: Utilisez une agrégation couplée avec un FILTER <br />
pour avoir, <b>pour chaque année</b>, la population de la region IDF <br />
en face du total pour calculer la part de la pop IDF sur le total

In [22]:
%load solutions/5pop_filter.py

   year        IDF  total_pop  (IDF / total_pop)
0  2016  3412250.0  9101533.0           0.374909
1  2017  3416144.0  9106742.0           0.375123
2  2018  3414182.0  9114649.0           0.374582
3  2019  3415097.0  9126901.0           0.374179
4  2020  3397710.0  9114753.0           0.372770
5  2021  3389621.0  9113121.0           0.371950

Exercice: faites la même chose avec un CASE WHEN

In [24]:
%load solutions/6pop_casewhen.py

   year        IDF  total_pop  (IDF / total_pop)
0  2016  3412250.0  9101533.0           0.374909
1  2017  3416144.0  9106742.0           0.375123
2  2018  3414182.0  9114649.0           0.374582
3  2019  3415097.0  9126901.0           0.374179
4  2020  3397710.0  9114753.0           0.372770
5  2021  3389621.0  9113121.0           0.371950